<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Inventory Reconciliation</display-name>

    <servlet>
        <servlet-name>HealthServlet</servlet-name>
        <servlet-class>servlet.HealthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HealthServlet</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DiscrepancyListServlet</servlet-name>
        <servlet-class>servlet.DiscrepancyListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DiscrepancyListServlet</servlet-name>
        <url-pattern>/discrepancies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkflowActionServlet</servlet-name>
        <servlet-class>servlet.WorkflowActionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WorkflowActionServlet</servlet-name>
        <url-pattern>/workflow</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DiscrepancyDetailServlet</servlet-name>
        <servlet-class>servlet.DiscrepancyDetailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DiscrepancyDetailServlet</servlet-name>
        <url-pattern>/discrepancy</url-pattern>
    </servlet-mapping>

</web-app>
